@media all and (min-width: 320px) and (max-width: 425px) {
    header div[class="wrapper"] :is(h1) {
        font-size: 2em;
    }
    header div[class="wrapper"] :is(p) {
        font-size: .9em;
    }
    header div[class="wrapper"] :is(a) {
        font-size: .8em;
    }

    /*  */
    main section :is(h1) {
        font-size: 1.4em;
    }
    main section :is(p) {
        font-size: .9em;
    }

    /*  */
    main section :is(div[class="sample-cont"]) {
        font-size: .8em;
    }

    /*  */
    main section :is(ul) li > a {
        font-size: .9em;
    }

    /*  */
    footer {
        min-height: 30vh;
        font-size: .9em;
    }
}